.autocomplete {
  // border-radius: 2px;

  :global(.ant-select-selection) {
    // border-radius: unset;
    margin-right: 10px;

    .input {
      :global(input.ant-input) {
        border: none;
        // border-radius: 2px;
        box-shadow: none;
      }
      :global(.ant-input-suffix i) {}

      &.focused {
        :global(input.ant-input) {
          color: rgba(0, 0, 0, 0.65);
        }
        :global(.ant-input-suffix i) {
          color: rgba(0, 0, 0, 0.65);
        }
      }
    }
  }
  

  .input.focused {
    background-color: #fff;
  }
}