@import url("https://rsms.me/inter/inter-ui.css");

:global(body) {
  line-height: 1.6;
  font-size: 16px;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:global(pre) {
  padding: 10px;
  border: 1px solid #ebedf0;
  font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,Courier,monospace;
  font-size: 12px;
}

:global(.trix-button-group--history-tools) {
  display: none !important;
}

:global(.cross-fade-leave) {
  opacity: 1;
}

:global(.cross-fade-leave.cross-fade-leave-active) {
  opacity: 0;
  transition: opacity 1s ease-in;
}

:global(.cross-fade-enter) {
  opacity: 0;
}

:global(.cross-fade-enter.cross-fade-enter-active) {
  opacity: 1;
  transition: opacity 1s ease-in;
}

:global(.cross-fade-height) {
  transition: height .5s ease-in-out;
}

:global(.ant-card-body) {
  height: 140px;
}

:global(.projects-grid) {
  min-height: 0;
  min-width: 0;
  display: grid;
  grid-gap: 20px;
  margin: 24px 0;

  :global(.ant-modal-body) {
    min-height: 255px;
  }
}

:global(#next) {
  height: 100%;
  width: 100%;
}

:global(.ant-layout) {
  height: 100vh;
}

@media (min-width: 1025px) {
  :global(.projects-grid) {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 481px) and (max-width: 1024px) {
  :global(.projects-grid) {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  :global(.projects-grid) {
    grid-template-columns: repeat(1, 1fr);
  }
}
