.main {
  min-height: calc(100vh - 173px);
  border-radius: 4px;
  // box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.06);

  a {
    color: #531dab;
  }

  a:hover {
    color: #391085;
  }
}

.content img {
  max-width: 100%;
  margin-bottom: 1em;
}